#root {
 -fx-background-image: url('/images/pharma.png');
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20.0;
 -fx-padding: 10.0 10.0 10.0 10.0;
 -fx-background-radius: 20.0;
 -fx-alignment: center;
  
}
 
#bp {
  -fx-background-image: url('/images/pharma.png');
 -fx-background-color:  linear-gradient(gray,DimGrey );
  -fx-alignment: center;
 
  
}
 #hbox {
	  -fx-alignment: center;
	
}
 
#btnLogin {
    -fx-background-radius: 30.0, 30.0, 29.0, 28.0;
    -fx-padding: 3.0px 10.0px 3.0px 10.0px;
    -fx-background-color: linear-gradient(orange, orangered );
}
 
#text {
 -fx-fill:  linear-gradient(orange , orangered);
}