.root {
     -fx-background-image: url("../images/CoarseGrid.png");
     -fx-background-repeat: stretch ;
     -fx-background-position: center;
     -fx-background-color: cornflowerblue;
     -fx-alignment: center;
	     
}
